            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            
            html,
            body {
                width: 100%;
                height: 100%;
            }
            
            #main {
                width: 100%;
                height: 100%;
                background-color: white;
                display: flex;
            }
            
            #left {
                width: 15%;
                height: 100%;
                background-color: rgba(245, 244, 244, 0.904);
                padding: 30px 20px;
            }
            
            #nav {
                width: 100%;
                height: 100%;
            }
            
            #nav>button {
                padding: 5px;
                margin-top: 18px;
                margin-left: 20px;
                width: 70%;
                background-color: royalblue;
                color: white;
                border-radius: 6px;
                border-color: rgb(55, 55, 252);
            }
            
            #nav>h2 {
                font-size: 23px;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
            
            #links {
                display: flex;
                flex-direction: column;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 15px;
                opacity: .6;
            }
            
            #links>h4 {
                align-items: center;
                margin-top: 31px;
            }
            
            #links h4 i {
                margin-right: 20px;
            }
            
            #bottom {
                margin-top: 40px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            
            #bottom>i {
                font-size: 150px;
                color: blue;
                opacity: .3;
            }
            
            #bottom>p {
                font-weight: 10px;
                font-family: Arial, Helvetica, sans-serif;
                opacity: .6;
                margin-left: 8px;
            }
            
            #bottom>button {
                background-color: rgb(52, 94, 221);
                color: white;
                border-radius: 6px;
                border-color: rgb(60, 60, 255);
                width: 100px;
                height: 25px;
                margin-top: 20px;
            }
            
            #links .active {
                color: rgb(21, 21, 202);
                opacity: 1;
            }
            
            #center {
                width: 65%;
                height: 100%;
                background-color: rgba(197, 195, 195, 0.801);
            }
            
            #center #search {
                width: 800px;
                padding: 40px 25px;
                display: flex;
                justify-content: space-between;
            }
            
            #center #search {
                width: 100%;
            }
            
            #search #input i {
                position: absolute;
                top: 10px;
                left: 15px;
                font-size: 13px;
                border-radius: 20px;
            }
            
            #search #input {
                position: relative;
            }
            
            #search input {
                width: 500px;
                height: 35px;
                border-color: rgb(233, 229, 229);
                border-radius: 2px;
                outline: none;
                padding: 10px 35px;
                border: 2px solid#e9e9e9;
            }
            
            #center #search>i {
                padding: 15px 60px;
            }
            
            #center #pannel {
                width: 100%;
                height: 500px;
            }
            
            #center #pan1 {
                width: 890px;
                height: 300px;
                background-image: url(https://images.unsplash.com/photo-1606636661850-818b9d979cf8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);
                margin-left: 26px;
                background-size: cover;
                background-position: center;
            }
            
            #center #pan2 {
                width: 100%;
                height: 300px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 30px;
            }
            
            #center #one {
                width: 424px;
                height: 250px;
                background-image: url(https://images.unsplash.com/photo-1576267423445-b2e0074d68a4?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjU0fHxncm91cCUyMGRpc2N1c3Npb258ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
                background-size: cover;
                background-position: center;
            }
            
            #center #two {
                width: 424px;
                height: 250px;
                background-size: cover;
                background-position: center;
                background-image: url(https://images.unsplash.com/photo-1581090604093-b89d92ae3bc0?ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDEwOHxKOXlyUGFIWFJRWXx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
            }
            
            #ove1 {
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.603);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                color: white;
            }
            
            #oneo {
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.747);
                color: white;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                padding: 20px;
            }
            
            #twoo {
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.685);
                color: white;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                padding: 20px;
            }
            
            #text1 {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 30px;
            }
            
            #text2 {
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 30px;
                align-items: center;
            }
            
            #photo {
                width: 30px;
                height: 30px;
                background-position: center;
                background-size: cover;
                border-radius: 100%;
                background-image: url(https://images.unsplash.com/photo-1611246981370-93febc04e6d5?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8d29tZW4lMjBwb3J0cmFpdHN8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
            }
            
            #text2>i {
                font-size: 30px;
            }
            
            #t1 {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            
            #t2 {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            
            #t3 {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            
            #t4 {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            
            #pannel i {
                color: rgb(235, 18, 18);
                font-weight: 15px;
                font-size: 35px;
            }
            
            #pannel p {
                font-size: 13px;
                opacity: .6;
            }
            
            #right {
                width: 25%;
                height: 100%;
                background-color: rgba(245, 244, 244, 0.904);
            }
            
            #name {
                width: 100%;
                height: 80px;
                padding: 40px 100px 40px 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            
            #my {
                width: 40px;
                height: 40px;
                border-radius: 100%;
                background-position: center;
                background-size: cover;
                background-image: url(https://images.unsplash.com/photo-1543932169-4a26c43dfaa4?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTE3fHx3b21lbiUyMGZhY2V8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
            }
            
            #progress {
                width: 100%;
                height: 220px;
            }
            
            #a {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 40px;
            }
            
            #br {
                width: 120px;
                height: 5px;
                border-radius: 25%;
                border-radius: 8px;
                border-color: black;
                background-color: rgb(223, 196, 162);
            }
            
            #brn {
                width: 70px;
                height: 5px;
                background-color: rgb(241, 54, 54);
            }
            
            #b {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 40px;
            }
            
            #c {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 40px;
            }
            
            #br1 {
                width: 90px;
                height: 5px;
                background-color: rgb(49, 104, 224);
            }
            
            #br2 {
                width: 50px;
                height: 5px;
                background-color: rgb(128, 129, 25);
            }
            
            #br5 {
                width: 70px;
                height: 5px;
                background-color: rgb(45, 126, 151);
            }
            
            #br6 {
                width: 90px;
                height: 5px;
                background-color: rgb(168, 69, 172);
            }
            
            #xx {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 40px;
            }
            
            #yy {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 40px;
            }
            
            #querry {
                width: 100%;
                height: 170px;
                align-items: center;
            }
            
            #pictures {
                width: 80%;
                height: 250px;
                background-position: center;
                background-size: cover;
                opacity: .3;
                margin-left: 35px;
                margin-bottom: 40px;
                background-image: url(https://thumbs.dreamstime.com/b/work-documents-filling-forms-blank-crumpled-paper-pencil-stickers-binder-clip-vector-illustration-top-view-111494921.jpg);
            }